{# src/OC/PlatformBundle/Resources/views/Advert/translation.html.twig #}

<html>
  <body>
  </br></br></br></br>
    {{ 'Hello'| trans }} {{ name }}
    <div>
        <p> {{'morning'| trans }} </p></br>
        <p> {{'evening'| trans }} </p>
        <button> {{'cancel'| trans }} </button>
        <button> {{'validate'| trans }} </button>
    </div>
  </body>
</html>